.card2 {
  background-image: linear-gradient(
    to top,
    #0ba360 0%,
    #3cba92 100%
  ) !important;
  border-radius: 5px;
  width: auto;
}
.mb-3 {
  margin-top: 40px;
}
.average {
  color: #fdfdfd;
  font-weight: bold;
  font-size: 4.5rem;
  display: block;
  line-height: 1;
  margin: 1rem auto;
}
.textavg {
  margin: 0.4rem 0 0;
  display: block;
  opacity: 0.6;
  text-align: center;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
.table > tbody {
  vertical-align: inherit;
}

.table > thead {
  vertical-align: bottom;
}
.col-lg-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.Tongno {
  width: 245px;
  height: 250px;
  border-radius: 50%;
  /* background-color: rgb(105 144 102); */
  background-image: linear-gradient(
    to top,
    #0ba360 0%,
    #3cba92 100%
  ) !important;
  color: white;
  text-align: center;
  font-size: large;
  font-weight: 100px;
  margin-top: 80px;
  margin-left: 30px;
}
.Content-Table1 {
  display: flex;
  height: auto;
  overflow: auto;
  background-color: #fffbfb;
}
.Table--left1 {
  width: 30%;
  height: 461px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px solid white;
}
.Table--left1--content {
  width: 80%;
  height: 70%; 
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}
.Table--right1 {
  width: 75%;
  height: 97%;
  overflow: auto;
  padding: 0 !important;
  background-color: #d5e8d4;
  color: rgb(255, 255, 255);
}
.Table--right1-content {
  width: 90%;
  height: 24%;
  background-color: #1b8252;
  border: 1px solid white;
  border-collapse: collapse;
  margin-bottom: 15px !important;
  border-radius: 5px;
}
.Table--right1-content .item {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.Table--right1-content .item--content{
  height: 50px;
  display: flex;
  align-items: center;
}
 .item--content--child {
  width: 100%;
  text-align: center;
  height: 50px;
  border-top: 1px solid white;
  border-radius: 0 0 5px 5px;
  background-image: linear-gradient(
    to top,
    #0ba360 0%,
    #3cba92 100%
  ) !important;
}
.itemDetail {
  font-size: 12px;
  margin-left: 40px;
  width: 250px;
  height: 30px;
  background-image: linear-gradient(
    to top,
    #0ba360 0%,
    #3cba92 100%
  ) !important;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  padding-left: 8px;
  margin-bottom: 5px;
  margin-top: 4px;
  display: flex;
  align-items: center;
} 
